/* Contact Info homepage
------------------------------------*/

.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}
.contact-list {
    display: flex;
    justify-content: center;
}

a {
    color: #343434;
}
a:hover {
    text-decoration: none;
}


/*  homepage-------------*/

.h-left {
    padding-top: 4em;
    padding-bottom: 4em;
}
.grid-3 {
    padding-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 85px;
 
}
h2 {
    padding-bottom: 1em;
}

.grid-3 h1 {
    text-align: left;
    line-height: 1.2;
    border-bottom: 7px solid black;
}

.grid-3 {
    padding-bottom: 2em;
}
body {
    color: #343434;
    width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 100%;
}

h1 {
    margin: 0;
    padding-top: 2em;
    text-align: right;
    font-family: Helvetica, sans-serif;
    line-height: 2;
    border-bottom: 1px solid grey;
}

h3 {
    margin: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    line-height: 2;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.image-portrait {
    float: left;
    margin-right: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    border-top: 100px solid white;
    border-bottom: 100px solid white;
}



.quote {
    width: 800px;
    float: right;
    font-family: Helvetica, sans-serif;
    line-height: 1;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-left: 8rem;
}

.clear {
    clear: both;
    border-top: 50px solid white;
}

/*  - ubl -------------------------- */

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 85px;
    padding-top: 10em;
    padding-bottom: 10em;
}

.grid-4 h1 {
    text-align: left;
    line-height: 1.2;
    border-bottom: 7px solid black;
}

.sub {
    line-height: 1;
    border-bottom: 1px solid grey;
}

.image-solo {
    padding-top: 10em;
    padding-bottom: 10em;
}

.loop {
    padding-top: 20em;
    padding-bottom: 20em;
}
.block {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

/* grain-specific styling  ----------------------- */

.h1-grain h1 {
    font-style: italic;
    color: #ffe66d;
    margin: 0;
    text-align: left;
    font-family: Helvetica, sans-serif;
    border-bottom: 1px solid yellow;
}

.h-left h1 {
    text-align: left;
    border: none;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 750px) {
    header,
    footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
}

.img-hp {
    width: 600px;
    height: 500px;
}
